.bg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("background_plates.jpg");
  height: 50%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.bg-img {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.side-form {
  padding: 16px;
  background-color: white;
  border-radius: 5px;
  width: 35%;
}

.container-form {
  background: rgba(255, 250, 240, 0.9);
  border-radius: 10px;
}

.img-salad {
  background-image: url("pexels-ella-olsson-1640777.jpg");
}

.img-toast {
  background-image: url("pexels-anthony-shkraba-5589043.jpg");
}

.img-matcha {
  background-image: url("sign_up.jpg");
}

.img-plates {
  background-image: url("background_plates.jpg");
}

.container-form-left {
  margin-left: 100px;
}

.container-form-right {
  right: 0;
  margin-right: 100px;
}

.vertical-center {
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.theme-white {
    color: #e7e7de;
}

.theme-blue {
    color: #1b2852;
}

.theme-green-light {
    color: #8ca53a;
}

.theme-green-dark {
    color: #556527;
}

.theme-grey {
    color: #444b47;
}

.bg-theme-white {
    background-color: #e7e7de;
}

.bg-theme-grey {
    background-color: #444b47;
}

.bg-theme-green-light {
    background-color: #8ca53a;
}

.home-header-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #e7e7de;
}
