{% include 'header.html' %}

{% block content %}

<div class="form-wrapper">
    <h2 class="title mb-4">Log In</h2>

    <form class="form" method="POST" action="{{ url_for('login') }}">

        <div class="form-group row">

            <div class="col-xs-1">
                <label for="userNames" class="col-sm-2 col-form-label">
                    <i class="fas fa-user fa-lg pl-4 pt-1 green-text"></i>
                </label>
            </div>

            <div class="col-md-3">

                {{ form.username(class="form-control", placeholder="Username", required=True) }}

                {% if form.username.errors %}
                <ul class="errors text-danger">
                    {% for error in form.username.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>

        <div class="form-group row">
            <div class="col-xs-1">
                <label for="password" class="col-sm-2 col-form-label">
                    <i class="fas fa-lock fa-lg pl-4 pt-1 green-text"></i>
                </label>
            </div>

            <div class="col-md-3">
                {{ form.password(class="form-control", placeholder="Enter password", type="password", required=True) }}

                {% if form.password.errors %}
                <ul class="errors text-danger">
                    {% for error in form.password.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>

        <div class="pl-4">
            {{ form.csrf_token }}
            {{ form.submit(class="btn btn-primary btn-sm mt-3") }}
        </div>

    </form>
</div>

{% endblock %}
