{% include 'header.html' %}

{% block content %}

<div class="bg-img img-plates pt-5">

    <form class="form container container-form p-5" method="POST" action="{{ url_for('preferences') }}">

        <h2 class="title mb-4 theme-green-dark">Preferences</h2>

        <div class="row">
            <div class="col-md-6 form-group">
                <div class="row">
                    <div class="col-md-4">
                        <i class="fas fa-utensils fa-lg pt-1 px-4"></i>
                        Cuisines
                    </div>
                    <div class="col-md-6">
                        {{ form.cuisines(class="form-control") }}
                    </div>
                </div>
            </div>

            <div class="col-md-6 form-group">
                <div class="row">
                    <div class="col-md-4">
                        <i class="fas fa-notes-medical fa-lg pt-1 px-4"></i>
                        Allergies
                    </div>
                    <div class="col-md-6">
                        {{ form.allergies(class="form-control") }}
                    </div>
                </div>
            </div>
        </div>

        <hr class="my-4" />

        <div class="text-center pt-3">
            {{ form.csrf_token }}
            {{ form.submit(class="btn btn-primary mt-3") }}
        </div>

    </form>
</div>

<script>
function outputUpdate(level) {
    document.querySelector('#selected-spice').value = level;
}
</script>

{% endblock %}
